<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Wine shop">
        <meta name="keywords" content="Wine Wines">
        <meta name="author" content="Pecherle George-Daniel">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!-- {% load static %}
        <link rel="stylesheet" href="{% static '/styles.css' %}"> -->
        <style>
            .container-lg {
                max-width: 960px;
            }
        </style>
    </head>

    <body class="bg-light text-dark">
        <div class="container container-lg mx-auto text-center">
            {% block content %}
            {% endblock content %} 
        </div>  
    </body>
</html>