{% extends "base.html" %}

{% block content %}

{% if not request.user.is_authenticated %}
<div style="text-align: justify;">
    <form method='POST'>{% csrf_token %}
        <h1 style="text-align: center;">Register</h1>
        {{ form.as_p }}
        <p> Do you already have an account? Please <a class="btn btn-success" role="button" href="/accounts/login/">Login</a> </p>
    <input class="btn btn-warning" role="button" type="submit" value="Submit" >
    </form>
</div>
{% else %}
<div>
    <h2>Your are already logged in and cannot register. Would you like to log out?</h2> 
    <a class="btn btn-danger" role="button" href="/accounts/logout/">Log out</a>
    </p>
</div>
{% endif %}
<p><a class="btn btn-info my-2" role="button" href="/">Home</a></p>



{% endblock content %}